{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Talking Box</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

    <header>
        <img src="{% static 'images/TalkingBox1.png' %}" alt="Polycom Logo" style="height: 200px; width: 300px">
    </header>

    <div class="container">
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required><br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br><br>

            <input type="submit" value="Login">
        </form>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <br>
        <button class="adminlogin-button" onclick="window.location.href='{% url 'signup' %}'">Don't have an account? Sign-up</button>
        <button class="signup-button" onclick="window.location.href='{% url 'adminlogin' %}'">Login as Admin</button>
    </div>

    <script src="{% static 'js/login.js' %}"></script>
</body>
</html>
